html,
body {
  margin: 0;
  padding: 0;
  background-color: "white";;
  overflow-x: hidden
}

nav .navbar-nav li a {
  color: #fff !important;
  border-radius: 12px;
}

.navbar {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #fff;
  color: #000 !important;
}

.navbar-nav > li > .dropdown-menu {
  opacity: 1;
  background-color: #000;
  color: #fff;
}

.navbar-nav > li > .dropdown-menu :hover {
  background-color: #fff;
  color: #000 !important;
}

.solid {
  opacity: 1;
  background-color: #000 !important;
}

@media only screen and (max-width: 800px) {
  .navbar {
    background-color: #000 !important;
  }
  .nav.navbar-nav li a {
    padding-left: 10px;
  }
}