@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");
/* @import url("https://fonts.googleapis.com/css?family=Dancing+Script&display=swap");
 */

html,
body {
  margin: 0;
  padding: 0;
  background-color: "white";
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav .navbar-nav li a {
  color: #fff !important;
}

.navbar {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  background-color: #fff;
  color: #000 !important;
  border-radius: 5px;
}

.navbar-nav > li > .dropdown-menu {
  opacity: 1;
  background-color: #231a60;
  color: #fff;
}

.navbar-nav > li > .dropdown-menu :hover {
  background-color: #fff;
  color: #000 !important;
}

.solid {
  opacity: 0.97;
  background: linear-gradient(
    to right,
    #231a60 0%,
    #3c338d 51%,
    #231a60 100%
  ) !important;
}

.title {
  margin-top: 10%;
}

.banner {
  line-height: 340px;
  text-align: center;
  height: 340px;
}

.homeBanner {
  background: linear-gradient(
      90deg,
      rgba(35, 26, 96, 0.7),
      rgba(60, 51, 141, 0.5)
    ),
    url("../img/technology.jpg");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 800px) {
  .navbar {
    background: linear-gradient(
      to right,
      #231a60 0%,
      #3c338d 51%,
      #231a60 100%
    ) !important;
  }
  .nav.navbar-nav li a {
    padding-left: 10px;
  }
  .title {
    margin-top: 28%;
  }

  .banner {
    line-height: 300px;
    text-align: center;
    height: 300px;
  }

  .homeBanner {
    background: linear-gradient(
        90deg,
        rgba(35, 26, 96, 0.7),
        rgba(60, 51, 141, 0.5)
      ),
      url("../img/vr.webp");
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 320px) {
  .homeBanner {
    height: 118vh;
  }
}

.text-shadow {
  text-shadow: 1px 1px 1px #000;
}

.card {
  width: 300px;
  margin-top: 10px;
  
}

.cardStyle{
  height: 220px;
  background: linear-gradient(45deg, #ffffff 0%, #f2f2f2 51%, #e6e6e6 100%);
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}

.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}

.timeline > li:after {
  clear: both;
}

.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  background: #fff;
}

.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}

.timeline-badge.primary {
  background-color: #2e6da4 !important;
}

.timeline-badge.success {
  background-color: #3f903f !important;
}

.timeline-badge.warning {
  background-color: #f0ad4e !important;
}

.timeline-badge.danger {
  background-color: #d9534f !important;
}

.timeline-badge.info {
  background-color: #5bc0de !important;
}

.timeline-title {
  margin-top: 0;
  color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}

.timeline-body > p + p {
  margin-top: 5px;
}

@media (max-width: 767px) {
  ul.timeline:before {
    left: 40px;
  }

  ul.timeline > li > .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100% - 90px);
    width: -webkit-calc(100% - 90px);
  }

  ul.timeline > li > .timeline-badge {
    left: 15px;
    margin-left: 0;
    top: 16px;
  }

  ul.timeline > li > .timeline-panel {
    float: right;
  }

  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
}

.scroll-downs {
  margin: auto;
  z-index: 10;
  width: 34px;
  height: 55px;
  display: block;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% {
    opacity: 0;
  }
  10% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.topButton {
  display: none;
  position: fixed;
  right: 12px;
  bottom: 90px;
  color: #fff;
  margin-top: 12px;
  z-index: 100;
  opacity: 0.8;
  background-color: #222222;
}

.topButton:hover {
  color: white;
  opacity: 1;
}

.buttonDisplay {
  display: block;
}

.teamImg {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.advisoryCard {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #bfbfbf;
  box-shadow: 20px 10px 20px 4px #e6e6e6;
  height: 200px;
}

.button {
  color: white;
  border-color: white;
  border-width: 1.5px;
}

.button:hover {
  background-color: white;
  color: #231a60;
  border-color: #231a60;
}

.buttonTheme {
  background-color: #4331b4;
  color: white;
  border-color: #4331b4;
  border-width: 1.5px;
}
.buttonTheme:hover {
  background-color: white;
  color: #4331b4;
  border-color: #4331b4;
  border-width: 1.5px;
}

.error {
  font-size: 15px;
  color: red;
}

.fnameError {
  display: none;
}

.lnameError {
  display: none;
}

.emailError {
  display: none;
}

.mobileError {
  display: none;
}

.collegeError {
  display: none;
}

.yearError {
  display: none;
}

.branchError {
  display: none;
}

.domainError {
  display: none;
}

.paperError {
  display: none;
}

.fileError {
  display: none;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .scroll-downs {
    display: none;
  }
}

.teamImg {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.galleryImg {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 4px;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}


@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}


.slider {
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: fit-content;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
  
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
 .slide{
  margin: 3rem;
 }
	
	
}

/* Works on Firefox */
* {
  scrollbar-width: 1em;
  scrollbar-color: #857492 #372e83 ;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px !important;
}

*::-webkit-scrollbar-track {
  background: #372e83;
  /* border-radius: 100vw; */
}

*::-webkit-scrollbar-thumb {
  background-color: #857492;
  border-radius: 100vw;
}


#headline {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

#countdown  li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#countdown li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 .5rem;
}
@media all and (max-width: 768px) {
  #headline {
    font-size: calc(1.5rem * var(--smaller));
  }
  
  #countdown  li {
    font-size: calc(1.125rem * var(--smaller));
  }
  
  #countdown li span {
    font-size: calc(3.375rem * var(--smaller));
  }
}
#testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
}
.testimonial-heading{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonial-heading span{
  font-size: 1.3rem;
  color: #252525;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.testimonial-box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
}
.testimonial-box{
  width:500px;
  box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
}
.profile-img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.profile-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile{
  display: flex;
  align-items: center;
}
.name-user{
  display: flex;
  flex-direction: column;
}
.name-user strong{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.name-user span{
  color: #979797;
  font-size: 0.8rem;
}
.reviews{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.client-comment p{
  font-size: 0.9rem;
  color: #4b4b4b;
}
.testimonial-box:hover{
  transform: translateY(-10px);
  transition: all ease 0.3s;
}

@media(max-width:1060px){
  .testimonial-box{
      width:45%;
      padding: 10px;
  }
}
@media(max-width:790px){
  .testimonial-box{
      width:100%;
  }
  .testimonial-heading h1{
      font-size: 1.4rem;
  }
}
@media(max-width:340px){
  .box-top{
      flex-wrap: wrap;
      margin-bottom: 10px;
  }
  .reviews{
      margin-top: 10px;
  }
}
::selection{
  color: #ffffff;
  background-color: #252525;
}
.main_title{
  text-align: center !important;
}
.blog{
  margin-bottom: 70px;
}