:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #3e449e;
  --first-color-alt: #f0a3a0;
  --first-container: #f1c2c0;
  --title-color: #270c0c;
  --text-color: #000;
  --text-color-light: #270c0c;
  --body-color: #ffebeaa3;
  --container-color: #f1c2c0;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.main_title {
  text-align: center;
  margin-bottom: 40px;
}
.main_title h2 {
  font-size: 72px;
  color: #3fcaff;
  opacity: 0.1;
  margin: 0;
  line-height: 60px;
}
.main_title h1 {
  color: #222222;
  margin-top: -40px;
}
.main_title p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  margin-bottom: 0px;
  max-width: 570px;
  margin: auto;
}
.main_title.white h2 {
  color: #fff;
}
.main_title.white p {
  color: #fff;
  opacity: 0.6;
}

/* End Main Title Area css
============================================================================================ */
/* Start Common Section Area css
============================================================================================ */
.section_content {
  position: relative;
  padding: 70px 0px 73px 70px;
}
.section_content h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 12px;
  position: relative;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.section_content h2:after {
  content: "";
  position: absolute;
  background: -webkit-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  background: -moz-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  background: -o-linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 100%);
  color: #3fcaff;
  height: 1px;
  width: 50px;
  bottom: -10px;
  left: 0;
}
.section_content h1 {
  color: #fff;
  line-height: 45px;
  padding: 30px 0 30px;
  margin-bottom: 0;
}
.section_content p {
  margin-bottom: 0px;
  color: #fff;
  font-weight: 400;
  padding: 0 40px 40px 0;
}

.gradient_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border: double 2px transparent;
  border-radius: 10px;
  background-image: linear-gradient(#342b7e, #3b328b),
    radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -webkit-linear-gradient(#342b7e, #3b328b),
    -webkit-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -moz-linear-gradient(#342b7e, #3b328b),
    -moz-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -ms-linear-gradient(#342b7e, #3b328b),
    -ms-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-image: -o-linear-gradient(#342b7e, #3b328b),
    -o-radial-gradient(circle at top left, #3fcaff, #a4ffb0);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gradient_btn span {
  padding: 0 60px;
}
.gradient_btn:hover {
  color: #22195e;
  box-shadow: 0px 10px 30px rgba(130, 82, 250, 0.2);
}

.primary_btn {
  display: inline-block;
  background: -webkit-linear-gradient(
    to right,
    #3fcaff 0%,
    #a4ffb0 51%,
    #3fcaff 100%
  );
  background: -moz-linear-gradient(
    to right,
    #3fcaff 0%,
    #a4ffb0 51%,
    #3fcaff 100%
  );
  background: -ms-linear-gradient(
    to right,
    #3fcaff 0%,
    #a4ffb0 51%,
    #3fcaff 100%
  );
  background: -o-linear-gradient(
    to right,
    #3fcaff 0%,
    #a4ffb0 51%,
    #3fcaff 100%
  );
  background: linear-gradient(to right, #3fcaff 0%, #a4ffb0 51%, #3fcaff 100%);
  background-size: 200% auto;
  padding: 0px 35px;
  color: #222222;
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 50px;
  border-radius: 5px;
  outline: none !important;
  box-shadow: 0px 10px 30px rgba(163, 255, 177, 0.2);
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  text-transform: uppercase;
}
.primary_btn:hover {
  background-position: right center;
  color: #22195e;
}

.overlay,
.single-gallery .content {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.imageSpacing {
  width: 400px;
  height: auto;
  /* margin: 30px 70px 0px 70px; */
  /* padding-top: 30px; */
  margin-top: 30px;
  margin-left: auto;
    margin-right: auto;
  border-radius: 10px;
}

.feature-item {
  transition: .5s;
  margin: 2px;
  text-decoration: none;
 
}

.feature-item:hover {
  margin-top: -15px;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .08);
}
/* card */
.wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.card {
  grid-area: 1 / 1;
  height: 200px;
  width: 400px;
  transform: translateX(10px) rotateY(25deg) rotateX(10deg);
  background: rgba(249, 198, 26, 0.88);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px;
  color: #000;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 900;
  backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

.card .enclosed {
  background: #000;
  line-height: 1;
  color: rgba(249, 198, 26, 1);
  padding: 0 5px;
  display: inline-block;
  transform: translate(-1px, 1px) scale(0.75);
  transform-origin: right center;
}

.wrapper:before {
  --bw: 9px;
  grid-area: 1 / 1;
  content: '';
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  margin-top: calc(-1 * var(--bw));
  margin-left: calc(-1 * var(--bw));
  background: transparent;
  transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
  pointer-events: none;
  border: var(--bw) solid #000;
  box-sizing: content-box;
}


.wrapper:hover > div,
.wrapper:hover:before {
  transform: none;
}


.wrapper > div,
.wrapper:before {
  will-change: transform;
  transition: .3s transform cubic-bezier(.25,.46,.45,1);
}



/* Start Pages Area css
============================================================================================ */
.about_page .about_us_area {
  padding-bottom: 120px;
}
.about_page .frequently_area {
  padding: 120px 0;
}

.upcoming_games .frequently_area {
  padding: 120px 0;
}

/*----------------------------------------------------*/
/*----------------------------------------------------*/
/* Start About Us Area css
============================================================================================ */
.about_us_area {
  position: relative;
}

.about_content {
  position: relative;
}
.about_content:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(
    to right,
    #231a60 0%,
    #3c338d 51%,
    #231a60 100%
  );
  background: -moz-linear-gradient(
    to right,
    #231a60 0%,
    #3c338d 51%,
    #231a60 100%
  );
  background: -ms-linear-gradient(
    to right,
    #231a60 0%,
    #3c338d 51%,
    #231a60 100%
  );
  background: -o-linear-gradient(
    to right,
    #231a60 0%,
    #3c338d 51%,
    #231a60 100%
  );
  background: linear-gradient(to right, #231a60 0%, #3c338d 51%, #231a60 100%);
}

/* End About Us Area css*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .section_content h3 {
    font-size: 32px;
    line-height: 38px;
  }

  .about_page .about_us_area,
  .upcoming_games .about_us_area {
    padding: 100px 0;
  }
  .about_page .section_gap,
  .upcoming_games .section_gap {
    padding: 100px 0;
  }
  .about_page .frequently_area,
  .upcoming_games .frequently_area {
    padding: 100px 0;
  }

  .section_content {
    padding: 68px 0px 68px 70px;
  }
  .section_content h1 {
    line-height: 40px;
    padding: 25px 0 25px;
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .imageSpacing {
    width: 300px;
    margin: 30px 35px 20px 35px;
  }

  .section_gap {
    padding: 80px 0;
  }

  .section_gap_top {
    padding-top: 80px;
  }

  .main_title {
    margin-bottom: 50px;
  }

  .about_us_area .about_us_image_box {
    display: none;
  }
  .about_us_area .about_content:before {
    width: 100%;
  }

  .chart_img {
    display: none;
  }

  .about_page .about_us_area,
  .upcoming_games .about_us_area {
    padding: 80px 0;
  }
  .about_page .section_gap,
  .upcoming_games .section_gap {
    padding: 80px 0;
  }
  .about_page .frequently_area,
  .upcoming_games .frequently_area {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .imageSpacing {
    width: 400px;
    margin: 30px 22px 20px 22px;
  }

  .section_gap {
    padding: 70px 0;
  }

  .section_gap_top {
    padding-top: 70px;
  }

  .section_content {
    padding: 50px 10px 50px 50px;
  }
  .section_content h3 {
    line-height: 40px;
    font-size: 30px;
    padding: 25px 0 25px;
  }

  .main_title {
    margin-bottom: 40px;
  }
  .main_title h2 {
    font-size: 60px;
  }

  .about_us_area .about_us_image_box {
    display: none;
  }
  .about_us_area .about_content:before {
    width: 100%;
  }

  .chart_img {
    display: none;
  }

  .about_page .about_us_area,
  .upcoming_games .about_us_area {
    padding: 70px 0;
  }
  .about_page .section_gap,
  .upcoming_games .section_gap {
    padding: 70px 0;
  }
  .about_page .frequently_area,
  .upcoming_games .frequently_area {
    padding: 70px 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  #advisoryBannerHeading{
    font-size: 18px;
  }
  .imageSpacing {
    margin-left: auto;
    margin-right: auto;
  }

  .primary_btn {
    line-height: 40px;
  }

  .section_gap {
    padding: 60px 0;
  }

  .section_gap_top {
    padding-top: 60px;
  }

  .section_content {
    padding: 35px 10px 35px 10px !important;
  }
  .section_content h1 {
    line-height: 30px;
    font-size: 20px;
    padding: 20px 0 16px;
  }
  .section_content p {
    padding-bottom: 30px;
    padding-right: 2px;
    padding-left: 2px;
  }

  .main_title {
    margin-bottom: 30px;
  }
  .main_title h2 {
    font-size: 40px;
  }

  .about_us_area .about_us_image_box {
    display: none;
  }
  .about_us_area .about_content:before {
    width: 100%;
  }

  .upcoming_games_area {
    padding: 40px 0 20px;
  }

  .chart_img {
    display: none;
  }

  .about_page .about_us_area,
  .upcoming_games .about_us_area {
    padding: 60px 0;
  }
  .about_page .section_gap,
  .upcoming_games .section_gap {
    padding: 60px 0;
  }
  .about_page .frequently_area,
  .upcoming_games .frequently_area {
    padding: 60px 0;
  }
}

/* Carousel container */
.PriceBlocks-sliderContainer {
  display: flex;
  overflow: hidden;
  max-width: 100%;
}

/* Carousel animation */
.PriceBlocks-slider {
  display: flex;
  animation: slide 10s infinite;
}

/* Slide animation keyframes */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-100%);
  }
  40% {
    transform: translateX(-200%);
  }
  60% {
    transform: translateX(-300%);
  }
  80% {
    transform: translateX(-400%);
  }
  100% {
    transform: translateX(-500%);
  }
}

/* Slide container */
.PriceBlock-container {
  width: 100%;
}

/* Set the carousel items to be displayed side by side */
.PriceBlock {
  display: inline-block;
  width: 100%;
}

/* Optional: Add some spacing between slides */
.PriceBlock-container + .PriceBlock-container {
  margin-left: 10px;
}

/* Optional: Hide overflow to prevent content from showing outside the container */
.PriceBlock-list {
  overflow: hidden;
}
/* rgba(184, 190, 19, 0.438) */

.our-team {
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: rgba(180, 144, 169, 0.258);
  text-align: center;
  overflow: hidden;
  position: relative;
  border: 1em;
  border-radius: 2rem;
}

.our-team .picture {
  display: inline-block;
  height: 150px;
  width: 150px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: var(--first-color);
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--first-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 2.5vh;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: var(--first-color);
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
  color: white;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: var(--first-color);
  background-color: #f7f5ec;
}
